@mixin transition($transition-time: .25s, $transition-property: all, $method: ease-in-out) {
    transition: $transition-property $transition-time $method;
}

@mixin transform($set) {
  -webkit-transform: $set;
  -ms-transform: $set;
  transform: $set;
}

@mixin selection($bg, $color: #000){
    &::selection {
        background: $bg;
        color: $color;
    }
    &::-moz-selection {
        background: $bg;
        color: $color;
    }
}

@mixin placeholder(){
    &:-moz-placeholder {
        @content;
    }
    &::-moz-placeholder {
        @content;
    } // Firefox 19+
    &:-ms-input-placeholder {
        @content;
    } // Internet Explorer 10+
    &::-webkit-input-placeholder {
        @content;
    } // Safari and Chrome
}


@mixin keyframes($name) {
  @-webkit-keyframes $name {
      @content;
  }
  @-moz-keyframes $name {
      @content;
  }
  @-o-keyframes $name {
      @content;
  }
  @keyframes $name {
      @content;
  }
}

@mixin fadeIn($transition-time: 0.5s, $extraAnimation: ''){
	visibility: visible;
	opacity: 1;
	transition: opacity $transition-time ease-in-out, visibility 0s linear 0s #{$extraAnimation};
}

@mixin fadeOut($transition-time: 0.5s, $extraAnimation: ''){
	visibility: hidden;
	opacity: 0;
	transition: opacity $transition-time ease-in-out, visibility 0s linear $transition-time #{$extraAnimation};
}

@mixin bgImg($url: false, $size: cover, $position: center) {
  @if $url { background-image: url(#{$imgDir}#{$url}); }
  background-size: $size;
  background-position: $position;
  background-repeat: no-repeat;
}

/*---------------*/
/* MEDIA QUERIES */
/*---------------*/
$breakpoints: (
  xs: 480,
  sm: 640,
  md: 768,
  lg: 992,
  xl: 1200
);

@mixin media-breakpoint-up($bpKey) {
  $breakpoint: map-get($breakpoints, $bpKey);
  @media screen and (min-width: $breakpoint + px) {
    @content;
  }
}
@mixin media-breakpoint-down($bpKey) {
  $breakpoint: map-get($breakpoints, $bpKey) - 1;
  @media screen and (max-width: $breakpoint + px) {
    @content;
  }
}
