/*-------------*/
/* DIRECTORIES */
/*-------------*/
$imgDir: '../img/';

/*-------*/
/* FONTS */
/*-------*/
$font-1: 'Roboto', sans-serif;

/*--------*/
/* COLORS */
/*--------*/
$color-1: #003466; // BLUE

$border-color: #EEE;

$shadow-default: 0 0 20px rgba(0,0,0,.5);

$social-networks-colors: (
  twitter: 	  #2FC2EF,
  facebook: 	#3B5998,
  instagram: 	#E1306C,
  google:     #D14228,
  youtube: 	  #e62117,
  whatsapp:   #84CB33,
  linkedin:   #007bb6,
  vimeo:      #4bf
);
