.card {
  border: 1px solid #CCC;
  border-radius: 4px;
  padding: 15px;
  margin: 20px 0 0;
}

.insight-card {
  padding: 30px;
  color: #FFF;
  .pull-right {
    font-weight: 400;
  }
  &.color1 {
    border-color: #58cfd4;
    background-color: rgba(#58cfd4,.8);
  }
  &.color2 {
    border-color: #ffb739;
    background-color: rgba(#ffb739,.8);
  }
  &.color3 {
    border-color: #e76161;
    background-color: rgba(#e76161,.8);
  }
}
