#filters {
  white-space: nowrap;
  margin-top: 10px;
  margin-bottom: 10px;
  .form-control {
    vertical-align: top;
    display: inline-block;
    width: 90px;
    &:not(:first-child) {
      margin-left: 10px;
    }
  }
}

.dropdown-menu>li>button {
    display: block;
    width: 100%;
    padding: 3px 20px;
    clear: both;
    font-weight: normal;
    line-height: 1.42857143;
    color: #333;
    white-space: nowrap;
    text-align: left;
}

.pagination {
  margin-top: 10px;
  margin-left: 10px;
  .btn:not(.disabled) {
    color: #0088cc;
  }
}

// testing, may break
.fixed-table-pagination {
  margin-bottom: -54px;
}
