.header-user-greeting {
  margin-right: 10px;
}

.btn-badge {
  position: absolute;
  display: block;
  top: 0;
  right: 0;
  background-color: #337ab7;
  color: #FFF;
  padding: 1px 4px;
  font-size: 10px;
  line-height: 13px;
  border-bottom-left-radius: 4px;
}

.btn-group .btn.active {
	background: #333;
	color: #FFF;
}
