.leads-list-container {
    border: 1px solid #CCC;
    border-radius: 4px;
}

.leads-list {
    width: 100%;

    th {
        a {
            .text {
                color: #333;
            }
            display: block;
            box-sizing: border-box;
            padding: 0 20px 0 0;
            cursor: pointer;

            &.sort-list {
                background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABMAAAATCAQAAADYWf5HAAAAkElEQVQoz7X QMQ5AQBCF4dWQSJxC5wwax1Cq1e7BAdxD5SL+Tq/QCM1oNiJidwox0355mXnG/DrEtIQ6azioNZQxI0ykPhTQIwhCR+BmBYtlK7kLJYwWCcJA9M4qdrZrd8pPjZWPtOqdRQy320YSV17OatFC4euts6z39GYMKRPCTKY9UnPQ6P+GtMRfGtPnBCiqhAeJPmkqAAAAAElFTkSuQmCC");
                background-position: right center;
                background-repeat: no-repeat;
            }


            &.sortUp {
                background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABMAAAATCAYAAAByUDbMAAAAZ0lEQVQ4y2NgGLKgquEuFxBPAGI2ahhWCsS/gDibUoO0gPgxEP8H4ttArEyuQYxAPBdqEAxPBImTY5gjEL9DM+wTENuQahAvEO9DMwiGdwAxOymGJQLxTyD+jgWDxCMZRsEoGAVoAADeemwtPcZI2wAAAABJRU5ErkJggg==");

            }
            &.sortDown {
                background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABMAAAATCAYAAAByUDbMAAAAZUlEQVQ4y2NgGAWjYBSggaqGu5FA/BOIv2PBIPFEUgxjB+IdQPwfC94HxLykus4GiD+hGfQOiB3J8SojEE9EM2wuSJzcsFMG4ttQgx4DsRalkZENxL+AuJQaMcsGxBOAmGvopk8AVz1sLZgg0bsAAAAASUVORK5CYII= ");
            }
        }
    }
    td, th {
        border: 1px solid #CCC;
        border-collapse: collapse;

        padding: 8px;
        vertical-align: top;
        position: relative;
        .editable-wrap {
            position: absolute;
            background: rgba(255,255,255,.9);
            box-shadow: 1px 1px 2px rgba(0,0,0,.3);
            z-index: 10;
            padding: 4px;
            border-radius: 4px;
        }
    }

    th { border-top: 0px }
    th:first-child, td:first-child { border-left: 0px }
    th:last-child, td:last-child { border-right: 0px }
    tr:last-child td { border-bottom: 0px }
}
