<!DOCTYPE html>
<html lang="en" ng-app="app" ng-controller="AppController as appCtrl">
<head>
	<base href="/">
	<meta charset="UTF-8">
	<title>Leads {{pageTitle ? ' - ' + pageTitle : ''}}</title>
	<link href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i" rel="stylesheet">

	<link rel="stylesheet" href="assets/app.css">
	<style>
		[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
		  display: none !important;
		}
	</style>
</head>
	<body >
		<main class="main-content">
			<div class="container"  ng-cloak>

			      <div class="page-header">
			        <div class="pull-right" ng-if="user" ng-controller="headerUserCtrl">

				        <span class="header-user-greeting">Hello <span class="user-name">{{user.name}}</span></span>

			          <div class="btn-group">
			            <a ui-sref="{{notificationsLink}}" class="btn btn-default btn-sm" ng-if="user.role !== 'admin'">
			              <i class="glyphicon glyphicon-exclamation-sign"></i> <span class="btn-badge" ng-if="notificationCount !== 0">{{notificationCount}}</span>
			            </a>

			      			<a ng-click="logout()" class="btn btn-default btn-sm">
			      				<span class="text">Log Out</span>
			      				<i class="glyphicon glyphicon-log-out"></i>
			      			</a>
			          </div>
			        </div>
			        <h1 class="heading-2">App</h1>
			      </div>

			      <div ng-controller="NavigationController" ng-if="user">
			        <nav class="navigation">
			          <div class="btn-group" role="group">
			            <a ng-repeat="link in links[user.role]"
				            ui-sref="{{getStateName(link.slug)}}" type="button"
					        class="btn btn-default"
				            ng-class="{ active: isActive(link.slug)}"
					            >
						            <span class="text">{{link.title}}</span>
						            <span class="btn-badge" ng-if="(link.title === 'Scheduled Calls')  && (nextSchedules > 0)">{{nextSchedules}}</span>
						</a>
			          </div>
			        </nav>
			        <hr class="divider">
			      </div>

				  <div ui-view>Loading</div>

					<div ng-controller="ModalDeleteCtrl" id="modal-delete" class="modal fade" tabindex="-1" role="dialog">
					  <div class="modal-dialog" role="document">
					    <div class="modal-content">
					      <div class="modal-header">
					        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
					        <h4 class="modal-title">Delete</h4>
					      </div>
					      <div class="modal-body">
					        <p>Are you sure you want to delete <b>{{deletable.name}}</b>?</p>
					      </div>
					      <div class="modal-footer">
					        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
					        <button type="button" class="btn btn-success" ng-click="deletable.cbk()">Confirm</button>
					      </div>
					    </div>
					  </div>
					</div>

			</div>
		</main>
		<script src="env.js"></script>
		<script src="assets/vendor.js"></script>
		<script src="assets/app.js"></script>
	</body>
</html>
