<div ng-controller="dashboardCtrl">
	<ng-include src="'../src/modules/admin/dashboard/index.tpl.html'" ng-if="user.role === 'admin'"></ng-include>

	<ng-include src="'../src/modules/agent/dashboard.tpl.html'" ng-if="user.role !== 'admin'"></ng-include>

</div>
