<div id="filters" class="hide pull-left">
	<!-- source filter -->
	<select class="form-control" ng-options="source for source in filterOptions.source" ng-model="filter.source" ng-change="makeFilter()">
		<option value="" selected>Source</option>
	</select>
	
	<!-- status filter -->
	<select class="form-control" ng-options="status for status in filterOptions.status" ng-model="filter['status.name']" ng-change="makeFilter()">
		<option value="" selected>Status</option>
	</select>
	
	<!-- timezone filter -->
	<select class="form-control" ng-options="timezone for timezone in filterOptions.timezone" ng-model="filter.timezone" ng-change="makeFilter()">
		<option value="" selected>Timezone</option>
	</select>
	
	<!-- campaign filter -->
	<select class="form-control" ng-options="campaign for campaign in filterOptions.campaign" ng-model="filter['campaign.name']" ng-change="makeFilter()">
		<option value="" selected>Campaign</option>
	</select>
	
	<!-- agent filter -->
	<select class="form-control" ng-options="agent for agent in filterOptions.agent" ng-model="filter['user.name']" ng-change="makeFilter()">
		<option value="" selected>Agent</option>
	</select>
	
	<button class="btn btn-default" ng-click="cleanFilters()" ng-hide="!filtersCleaneable"><i class="glyphicon glyphicon-remove"></i></button>
</div>

<table class="leads-table"></table>