<div ng-controller="LoginCtrl">
  <div class="page-header">
    <h2 class="heading-3">Login</h2>
  </div>

  <form class="form-horizontal">
  	<div class="form-group">
      <label for="inputEmail" class="col-sm-2 control-label">Email</label>
      <div class="col-sm-6 col-md-4">
        <input type="text" class="form-control" id="inputEmail" placeholder="" ng-model="login.email" required>
      </div>
    </div>
    <div class="form-group">
      <label for="inputPassword" class="col-sm-2 control-label">Password</label>
      <div class="col-sm-6 col-md-4">
        <input type="password" class="form-control" id="inputPassword" placeholder="" ng-model="login.password" required>
      </div>
    </div>
    <div class="form-group">
      <div class="col-sm-offset-2 col-sm-10">
        <button class="btn btn-primary"  ng-click="doLogin()">Submit</button>
      </div>
    </div>
  </form>

  	<div class="error" ng-if="loginResponse">
	  	{{loginResponse}}
	</div>
</div>
