<div ng-controller="ReportAgentsController">
  <div class="page-header">
		<ng-include src="'../src/modules/admin/reports/submenu.tpl.html'"></ng-include>
    <h2 class="heading-3">Agents Report</h2>
  </div>

  <form class="form-inline">
    <div class="form-group" style="position: relative;">
      <label for="inputStart" class="control-label">From</label>
      <input type="text" class="form-control datepicker input-sm" id="inputStart" name="start_date" placeholder="" ng-model="query.start_date" required>
    </div>
    <div class="form-group" style="position: relative;">
      <label for="inputEnd" class="control-label">To</label>
      <input type="text" class="form-control datepicker input-sm" id="inputEnd" name="end_date" placeholder="" ng-model="query.end_date" required>
    </div>
    <button class="btn btn-default"  ng-click="getReport()">Submit</button>
  </form>

  <!-- <table class="reports-table"></table> -->

  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <h3 class="heading-4">Agent Sales</h3>
        <div id="agents-chart" style="height: 300px"></div>
      </div>
    </div>

  	<div class="col-md-12">
  		<div class="card">
        <div class="pull-right">
          <button class="btn btn-default"  ng-click="exportTable()">Export</button>
        </div>
  			<h3 class="heading-4">Daily Sales</h3>
  			<div id="daily-chart" style="height: 200px"></div>
        <div class="sp30"></div>
        <table class="daily-table"></table>
  		</div>
  	</div>
  </div>
</div>
