<div ng-controller="ReportLeadsController">
  <div class="page-header">
		<ng-include src="'../src/modules/admin/reports/submenu.tpl.html'"></ng-include>
    <h2 class="heading-3">Leads Report</h2>
  </div>



  <div id="filters" class="hide pull-left">
    <label>Group By:</label>
    <div class="btn-group">
    	<button class="btn btn-default" ng-class="grActive('user_id')" ng-click="grChange('user_id')">Agent</button>
    	<button class="btn btn-default" ng-class="grActive('campaign_id')" ng-click="grChange('campaign_id')">Campaign</button>
    	<button class="btn btn-default" ng-class="grActive('source')" ng-click="grChange('source')">Source</button>
    </div>
    <label><input type="checkbox" ng-model="rpt.active" ng-change="requery()"/> Include only active items</label>
  </div>

  <table class="leads-table"></table>
</div>
