<div class="btn-group pull-right">
	<a ui-sref="admin.report-agents"
		class="btn btn-primary"
		ui-sref-active="active">Agents</a>
	<a ui-sref="admin.report-leads"
		class="btn btn-primary"
		ui-sref-active="active">Leads</a>
</div>
