.button-base {}

@mixin createBtn(
		$border-width: 0px,
		$font-offset: 0,
		$color: #FFF,
		$background-color: transparent,
		$border-color: transparent,
		$transition: 0.25s,
		$border-radius: 0,
		$font-weight: 400,
		$rounded: false,
		$hover-background-color: false,
		$hover-border-color: false,
		$hover-color: false) {

	@extend .button-base !optional;
	display: inline-block;
	box-sizing: border-box;
	font-size: 16px;
	line-height: 24px;
	text-align: center;
	border: $border-width solid $border-color;
	color: $color;
	background-color: $background-color;
	font-weight: $font-weight;
	cursor: pointer;
	@if $rounded {
  	border-radius: 20px;
	} @else {
		border-radius: $border-radius;
	}

	$padding-top: 8px - $border-width + $font-offset;
	$padding-bottom: 8px - $border-width - $font-offset;
	padding: $padding-top 20px $padding-bottom;
	@include transition($transition);

  &.small {
    font-size: 14px;
    line-height: 20px;
		$padding-top-small: $padding-top - 3px;
		$padding-bottom-small: $padding-bottom - 3px;
		padding: $padding-top-small 15px $padding-bottom-small;

		@if $rounded {
    	border-radius: 15px;
  	}
  }

  &.large {
    font-size: 18px;
    line-height: 26px;
		$padding-top-large: $padding-top + 4px;
		$padding-bottom-large: $padding-bottom + 4px;
		padding: $padding-top-large 25px $padding-bottom-large;

		@if $rounded {
    	border-radius: 25px;
  	}
  }

  &.full {
    width: 100%;
  }

	&:hover, &:focus {
		@if $hover-background-color { background-color: $hover-background-color; }
		@if $hover-border-color { border-color: $hover-border-color; }
		@if $hover-color { color: $hover-color; }
	}
}

.btn-white-otl {
	$btn-white-otl: (
		font-offset: 2px
		, border-width: 1px
		, border-color: #FFF
		, color: #FFF
		, font-weight: 400
		, hover-color: $color-1
		, hover-background-color: #FFF
	);
	@include createBtn($btn-white-otl...);
	font-size: 14px;
}

.btn {
	line-height: 1.2;
	.text, .glyphicon {
		vertical-align: text-top;
		display: inline-block;
	}
	
	.text + .glyphicon, .glyphicon + .text{
		margin-left: 5px;
	}
	
	&.btn-secondary {
		background: #333;
	}
}
.leads-submenu {
	.btn {
		&.btn-primary {
			&.active {
				background: #333;
			}
		}
	}
}