@mixin fonts($fonts) {
  @each $fontName, $variants in $fonts {
    @each $varianProps in $variants {
      @font-face {
        font-family: $fontName;
        font-style: map-get($varianProps, font-style);
        font-weight: map-get($varianProps, font-weight);
        src: url(map-get($varianProps, src)) format(map-get($varianProps, format));
      }
    }
  }
}
