.form-group .input-toggle {
  margin-top: 8px;
  margin-bottom: 8px;
}

.input-toggle {
  display: inline-block;
}

.input-toggle-mask {
  display: block;
  border: 1px solid #ccc;
  width: 30px;
  height: 18px;
  border-radius: 9px;
  background-color: #FFF;
  @include transition;
  &:before {
    content: '';
    display: block;
    margin: -2px -1px;
    border: 1px solid #CCC;
    width: 20px;
    height: 20px;
    border-radius: 10px;
    background-color: #FFF;
    @include transform(translateX(10px));
    @include transition;
  }
}

.input-toggle-hidden {
  //display: none;
  //visibility: hidden;
  position: fixed;
  left: -1000vw;
  top: -1000vh;
  margin: -9999px 0 0 -9999px;
  width: 0;
  height: 0;
  &:focus + .input-toggle-mask {
    border-color: #66afe9;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075), 0 0 8px rgba(102,175,233,0.6);
    box-shadow: inset 0 1px 1px rgba(0,0,0,0.075), 0 0 8px rgba(102,175,233,0.6);
    &:before {
      border-color: #66afe9;
    }
  }
  &:checked + .input-toggle-mask {
    background-color: #337ab7;
    &:before {
      @include transform(translateX(0px));
    }
  }
}

.ng-submitted .form-control.ng-invalid {
  border-color: #a94442;
  &:focus {
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075), 0 0 8px rgba(#a94442,0.6);
    box-shadow: inset 0 1px 1px rgba(0,0,0,0.075), 0 0 8px rgba(#a94442,0.6);
  }
}

// INPUT GROUP FIXES
.input-group-addon:not(:first-child) {
  border-left: 0;
}
.input-group-addon:not(:last-child) {
  border-right: 0;
}
.input-group-addon.small {
  padding: 6px 2px;
}

.input-group {
  select.form-control {
    -webkit-appearance: none;
    min-width: 55px;
    // &:not(:first-child) {
    //   border-top-left-radius: 0;
    //   border-bottom-left-radius: 0;
    // }
  }
}
