html {
  width: 100%;
  height: 100%;
}

body {
  width: 100%;
  min-height: 100%;
  margin: 0;
  padding-bottom: 20px;
  -webkit-font-smoothing: antialiased;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
  -webkit-align-items: stretch;
  align-items: stretch;
  font-family: $font-1;
  overflow-x: hidden;
  background-color: #FFF;
}

.main-content, .footer {
  -webkit-flex-shrink: 0;
  flex-shrink: 0;
}

.main-content {
  -webkit-flex-grow: 1;
  flex-grow: 1;
  overflow: hidden;
}

.bootstrap-table {
  margin-bottom: 20px;
}

.bootstrap-table .table {
  border-bottom: none;
}

table {
  width: 100%;
}

[href*="amcharts."] {
  display: none !important;
}
