<div ng-controller="orderOrderPatientCtrl">
	<div class="select-patient form" ng-show="mode === 'select'">
		<label>Search for existing patient</label>

		<input-patient-search on-select-patient="onSelectPatient(patientId)"></input-patient-search>

		<label>OR</label>
		<a  class="btn btn-primary small" ng-click="onNewPatient()">ADD NEW PATIENT</a>
	</div>


	<div class="patient-form form" ng-show="mode === 'form'">

		<form name="patientForm" novalidate  ng-submit="savePatient()">

			<div class="row">

				<div class="col-md-2 col-sm-12 required-info">
					<h5>* REQUIRED FIELDS</h5>
					<p>Please Note: That if you allow for SMS notifications, standard messaging rates apply</p>

				</div>

				<div class="col-md-5 col-sm-6 c-1">

					<field-group label="First Name" required name="FirstName">
						<input type="text" name="FirstName" required ng-model="draft.Patient.FirstName"/>
					</field-group>

					<field-group label="Last Name" required name="LastName">
						<input type="text" name="LastName" required ng-model="draft.Patient.LastName"/>
					</field-group>

					<field-group label="Gender"  required name="Gender">
						<select required name="Gender" ng-model="draft.Patient.Gender">
							<option value="" ng-if="!draft.Patient.Gender">[Please, select]</option>
							<option value="{{op.key}}" ng-repeat="op in options.gender">{{op.value}}</option>
						</select>
					</field-group>

					<field-group label="Ethnicity" required name="EthnicGroup">
						<select required name="EthnicGroup" ng-model="draft.Patient.EthnicGroup">
							<option value="" ng-if="!draft.Patient.EthnicGroup">[Please, select]</option>
							<option value="{{op.key}}" ng-repeat="op in options.ethnicity">{{op.value}}</option>
						</select>
					</field-group>

					<field-group label="Date of Birth" required name="BirthDate">
						<input-date name="BirthDate" date="draft.Patient.BirthDate" required ng-model="draft.Patient" />
					</field-group>

					<field-group label="Type of Contact" required name="">
						<input-contacts contacts="draft.Patient.ContactInformation"  required />
					</field-group>

				</div>



				<div class="col-md-5 col-sm-6 c-2">

					<input-address ng-model="draft.Patient" model="draft.Patient" required="true"></input-address>

				</div>

			</div>

			<footer class="actions">
				<a  class="btn small pull-left" ng-click="setMode('select')" ng-if="has_patients && !draft.Id">Select another patient</a>
				<a  class="btn btn-primary small pull-left" id="btn-new-patient" ng-click="onNewPatient()" ng-if="!draft.Id && mode !== 'form'">ADD NEW PATIENT</a>

				<input type="submit" class="btn small btn-primary" value="CONTINUE" ng-disabled="!patientForm.$valid || !draft.Patient.ContactInformation.length"/>
			</footer>
			

		</form>
	</div>
</div>
