
    <div class="date-dropdown" ng-form="dateForm" novalidate="">
        <div class="row">
            <div class="col-xs-6">
                <div class="input-group">
                    <select class="month form-control" name="month" ng-model="parsed.month" ng-required="required" ng-options="month as month|numberFixedLen:2 for month in ranges.months">
                        <option value="" ng-if="!parsed.month">
                            MM
                        </option>
                    </select> <span class="input-group-addon small">/</span> <select class="date form-control" name="day" ng-model="parsed.day" ng-required="required" ng-options="day as day|numberFixedLen:2 for day in ranges.days">
                        <option value="" ng-if="!parsed.day">
                            DD
                        </option>
                    </select> <span class="input-group-addon small">/</span> <select class="year form-control" name="year" ng-model="parsed.year" ng-required="required" ng-options="year for year in ranges.years">
                        <option value="" ng-if="!parsed.year">
                            YYYY
                        </option>
                    </select>
                </div>
            </div>

            <div class="col-xs-4">
                <div class="input-group">
                    <select class="hour form-control" name="hour" ng-model="parsed.hour" ng-required="required" ng-options="hour.value as hour.display for hour in ranges.hours" ng-if="withTime">
                        <option value="" ng-if="!parsed.hour">HH</option>
                    </select>
                    <span class="input-group-addon small">:</span> 
                    <select class="minutes form-control" name="minutes" ng-model="parsed.minute" ng-required="required" ng-options="minute as minute|numberFixedLen:2 for minute in ranges.minutes" ng-if="withTime">
                        <option value="" ng-if="!parsed.minute">mm</option>
                    </select>
                </div>
            </div>
            <div class="col-xs-2">
                
                    <select class="timezone form-control" name="timezone" ng-model="parsed.timezone" ng-required="required" ng-options="timezone.value as timezone.display for timezone in ranges.timezones" ng-if="withTime">
                        <option value="" ng-if="!parsed.timezone">tz</option>
                    </select>
                   
            </div>
        </div>

        <div ng-show="form.$submitted || dateForm.$submitted || dateForm.type.$touched || dateForm.value.$touched">
            <small class="error-message" ng-show="dateForm.month.$error.required  || dateForm.day.$error.required || dateForm.year.$error.required">This field is required</small>
        </div>
    </div>

