<div class="pagination form-inline " style="vertical-align: top;">
    <span class="btn-group">
        <a class="btn btn-default pagination_first" ng-class="{disabled: current == pagination.first}" ng-click="goTo(pagination.first)">&laquo;</a>
        <a class="btn btn-default pagination_revious" ng-class="{disabled: current == pagination.first}" ng-click="goTo(pagination.previous)">&lsaquo;</a>
    </span>
    <select class="form-control input-sm" ng-model="current" ng-change="onPageChange()"
        ng-options="p.value as p.label for p in pageList"
    >
    </select>
    <span class="btn-group">
        <a class="btn btn-default pagination_first" ng-class="{disabled: current == pagination.last}" ng-click="goTo(pagination.next)">&rsaquo;</a>
        <a class="btn btn-default pagination_previous" ng-class="{disabled: current == pagination.last}" ng-click="goTo(pagination.last)">&raquo;</a>
    </span>
</div>
