<div ng-controller="CampaignEditController">
  <div class="page-header">
  	<a ui-sref="admin.campaigns" class="btn btn-default pull-right">
	  	<i class="glyphicon glyphicon-circle-arrow-left"></i>
	  	<span class="text">Back</span>
	</a>
    <h2 class="heading-3">{{ campaignId ? 'Edit Campaign ' + campaignId : 'New Campaign' }}</h2>
  </div>

  <form class="form-horizontal" ng-submit="saveCampaign()">
    <div class="form-group">
      <label for="inputName" class="col-sm-2 control-label">Name</label>
      <div class="col-sm-6 col-md-4">
        <input type="text" class="form-control" id="inputName" name="name" placeholder="Campaign Name" ng-model="campaign.name" required>
      </div>
    </div>
    <div class="form-group">
      <label for="inputStart" class="col-sm-2 control-label">Start Date</label>
      <div class="col-sm-6 col-md-4">
        <input type="text" class="form-control datepicker" id="inputStart" name="start_date" placeholder="" ng-model="campaign.start_date" required>
      </div>
    </div>
    <div class="form-group">
      <label for="inputEnd" class="col-sm-2 control-label">End Date</label>
      <div class="col-sm-6 col-md-4">
        <input type="text" class="form-control datepicker" id="inputEnd" name="end_date" placeholder="" ng-model="campaign.end_date" required>
      </div>
    </div>
    <div class="form-group">
      <label for="inputActive" class="col-sm-2 control-label">Active</label>
      <div class="col-sm-6 col-md-4">
        <label class="input-toggle">
          <input class="input-toggle-hidden" type="checkbox" id="inputActive" name="active" ng-change="toggleActive()" ng-model="activeInput">
          <span class="input-toggle-mask"></span>
        </label>
      </div>
    </div>
    <div class="form-group">
      <div class="col-sm-offset-2 col-sm-10">
        <button type="submit" class="btn btn-primary">Save</button>

      </div>
    </div>
  </form>
</div>
