<div ng-controller="AgentEditController">
  <div class="page-header">
    <h2 class="heading-3">{{ agentId ? 'Edit Agent ' + agent.name : 'New Agent' }}</h2>
  </div>
  <form name="form" class="form-horizontal" ng-submit="saveUser()" novalidate>
    <div class="form-group">
      <label for="inputName" class="col-sm-2 control-label">Name</label>
      <div class="col-sm-6 col-md-4">
        <input type="text" class="form-control" id="inputName" placeholder="John Doe" ng-model="agent.name" required>
      </div>
    </div>
    <div class="form-group">
      <label for="inputName" class="col-sm-2 control-label">Email</label>
      <div class="col-sm-6 col-md-4">
        <input type="email" class="form-control" id="inputName" placeholder="agent@app.com" ng-model="agent.email" required>
      </div>
    </div>
    <div class="form-group" ng-if="!agentId">
      <label for="inputPassword" class="col-sm-2 control-label">Password</label>
      <div class="col-sm-6 col-md-4">
        <input type="password" class="form-control" id="inputPassword" placeholder="Password" ng-model="agent.password" required>
      </div>
    </div>
    <div class="form-group" ng-if="!agentId">
      <label for="inputPasswordConfirm" class="col-sm-2 control-label">Confirm</label>
      <div class="col-sm-6 col-md-4">
        <input type="password" class="form-control" id="inputPasswordConfirm" drc-valid-match="agent.password" placeholder="Confirm Password" ng-model="passwordConfirm" required>
      </div>
    </div>
    <div class="form-group">
      <label for="inputType" class="col-sm-2 control-label">Agent Role</label>
      <div class="col-sm-6 col-md-4">
        <select class="form-control" id="inputType" ng-model="agent.role_id" required ng-options="role.id as role.label for role in roles "
>
          <option value="" ng-if="!agent.role_id">[Select Role]</option>
        </select>
      </div>
    </div>
    <div class="form-group">
      <label for="activeInput" class="col-sm-2 control-label">Active</label>
      <div class="col-sm-6 col-md-4">
        <label class="input-toggle">
          <input class="input-toggle-hidden" type="checkbox" id="inputActive" name="active" ng-true-value="1" ng-false-value="0" ng-model="agent.active">
          <span class="input-toggle-mask"></span>
        </label>
      </div>
    </div>
    <div class="form-group">
      <div class="col-sm-offset-2 col-sm-10">
        <button type="submit" class="btn btn-primary">Save</button>
        <a ui-sref="admin.agents" class="btn btn-default">Cancel</a>
      </div>
    </div>
  </form>


  <div ng-hide="!agentId">
    <hr>

    <div class="page-header">
      <h2 class="heading-3">Change Password</h2>
    </div>

    <form name="passwordForm" class="form-horizontal" ng-submit="savePassword()" novalidate>
      <div class="form-group">
        <label for="inputPassword2" class="col-sm-2 control-label">Password</label>
        <div class="col-sm-6 col-md-4">
          <input type="password" class="form-control" id="inputPassword2" placeholder="Password" ng-model="newPassword.password" required>
        </div>
      </div>
      <div class="form-group">
        <label for="inputPasswordConfirm2" class="col-sm-2 control-label">Confirm</label>
        <div class="col-sm-6 col-md-4">
          <input type="password" class="form-control" id="inputPasswordConfirm2" drc-valid-match="newPassword.password" placeholder="Confirm Password" ng-model="newPasswordConfirm" required>
        </div>
      </div>
      <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
          <button type="submit" class="btn btn-primary">Save</button>
          <a ui-sref="admin.agents" class="btn btn-default">Cancel</a>
        </div>
      </div>
    </form>
  </div>
</div>
