<div ng-controller="AgentsController">
  <div class="page-header">
    <a ui-sref="admin.agent-edit({agentId:'new'})" class="btn btn-primary pull-right">Add Agent</a>
    <h2 class="heading-3">Agents</h2>
  </div>

  <div id="filters" class="hide pull-left">

		<div class="dropdown" style="display: inline-block;">
		  <button ng-class="!selectedRows.length ? 'disabled' : ''" class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
		    Actions
		    <span class="caret"></span>
		  </button>
		  <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
		    <li><button ng-click="modalMassDeleteShow()">Delete</button></li>
		  </ul>
		</div>
  </div>

  <table class="agents-table"></table>
</div>
