<div ng-controller="LeadsController">
	<div class="page-header">
		<a ui-sref="admin.lead-edit({leadId:'new'})" class="btn btn-primary pull-right" ng-hide="user.role !== 'admin'">Add Lead</a>
		<h2 class="heading-3">Leads</h2>
	</div>

  <div id="filters" class="hide pull-left">

    <select class="form-control input-sm" ng-options="status for status in filterOptions.status" ng-model="filter['status.name']" ng-change="makeFilter()">
      <option value="" selected>Status</option>
    </select>
    <select class="form-control input-sm" ng-options="source for source in filterOptions.source" ng-model="filter['source.source']" ng-change="makeFilter()">
      <option value="" selected>Source</option>
    </select>
    <select class="form-control input-sm" ng-options="timezone for timezone in filterOptions.timezone" ng-model="filter.timezone" ng-change="makeFilter()">
      <option value="" selected>Timezone</option>
    </select>
    <button class="btn btn-default" ng-click="cleanFilters()" ng-hide="!filtersCleaneable"><i class="glyphicon glyphicon-remove"></i></button>
  </div>

	<table class="leads-table"></table>

	<ng-include src="'../src/modules/agent/agent.timeline.modal.tpl.html'"></ng-include>
</div>
