<div class="modal fade" id="leadModal" tabindex="-1" role="dialog" ng-controller="AgentTimelineModalCtrl">
	<div class="modal-dialog modal-lg" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<h4 class="modal-title">Lead</h4>
			</div>
			<div class="modal-body">

			<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
					<li role="presentation" class="active"><a data-target="#leadInfo" aria-controls="leadInfo" role="tab" data-toggle="tab">Lead Info</a></li>
					<li role="presentation"><a data-target="#soldHistory" aria-controls="soldHistory" role="tab" data-toggle="tab">Sold History</a></li>
					<li role="presentation"><a data-target="#leadHistory" aria-controls="leadHistory" role="tab" data-toggle="tab">Lead History</a></li>
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">

					<!-- LEAD INFO PANEL -->
					<div role="tabpanel" class="tab-pane active" id="leadInfo">
						<div class="row">
							<div class="col-md-8">

								<form name="forms.evenForm" class="form-horizontal" ng-submit="saveEvent()" novalidate>
									<div class="form-group">
										<label class="col-sm-3 control-label">Name</label>
										<div class="col-sm-8">
											<p class="form-control-static">{{currLead.name}}</p>
										</div>
									</div>
									<div class="form-group">
										<label class="col-sm-3 control-label">Phone</label>
										<div class="col-sm-8">
											<p class="form-control-static">{{currLead.phone}}</p>
										</div>
									</div>
									<div class="form-group">
										<label class="col-sm-3 control-label">Email</label>
										<div class="col-sm-8">
											<p class="form-control-static">{{currLead.email}}</p>
										</div>
									</div>
									<div class="form-group">
										<label class="col-sm-3 control-label">Timezone</label>
										<div class="col-sm-8">
											<p class="form-control-static">{{currLead.timezone}}</p>
										</div>
									</div>

									<hr>

									<div class="form-group">
										<label class="col-sm-3 control-label">New Input</label>
										<div class="col-sm-8">{{selected_form}}
											<select class="form-control" ng-model="selectedForm" ng-readonly="currLead.type_id === 2">
												<option value="">[Select One]</option>
												<option value="event" ng-if="currLead.type_id !== 2">Status Change</option>
												<option value="sale">Sale</option>
												<option value="schedule" ng-if="currLead.type_id !== 2">Schedule Call</option>
												<option value="note"  ng-if="currLead.type_id !== 2">Note</option>
											</select>
										</div>
									</div>

									<!-- EVENT FORM -->
									<div ng-if="selectedForm === 'event'">
										<div class="form-group">
											<label for="inputNewStatus" class="col-sm-3 control-label">New Status</label>
											<div class="col-sm-8">
												<select class="form-control" ng-model="event.lead_status_id" id="inputNewStatus" required>
													<option value="" selected>[Please Select]</option>
													<option value="1">Attempting Contact</option>
													<option value="11">Never Answered</option>
													<option value="3">DNC Not Interested</option>
													<option value="4">DNC Wrong or Invalid Number</option>
													<option value="5">Pitched</option>
													<option value="8">Pledged</option>
													<option value="9">BID</option>
													<option value="10">Primed</option>
												</select>
											</div>
										</div>
										<div class="form-group">
											<label class="col-sm-3 control-label">Notes</label>
											<div class="col-sm-8">
												<textarea class="form-control" ng-model="event.notes"></textarea>
											</div>
										</div>
									</div><!-- EVENT FORM -->


									<!-- SALE FORM -->
									<div ng-if="selectedForm === 'sale'">
										<div class="form-group">
											<label class="col-sm-3 control-label">Campaign</label>
											<div class="col-sm-8">
												<!-- <input type="text" class="form-control" ng-model="sale.stock" required> -->
												<select ng-model="sale.campaign_id"
													class="form-control"
													required
													ng-options="c.id as c.name for c in availableCampaigns"
												>
													<option value="" ng-if="!sale.campaign_id">[Select campaign]</option>
													<!-- <option ng-repeat="campaign in campaigns" value="{{campaign.id}}" ng-if="campaign.id === currLead.campaign_id" ng-selected="campaign.id === currLead.campaign_id">{{campaign.name}} </option> -->
												</select>
											</div>
										</div>
										<div class="form-group">
											<label class="col-sm-3 control-label">Amount</label>
											<div class="col-sm-8">
												<input type="number" class="form-control" ng-model="sale.amount" required min="0">
											</div>
										</div>
										<div class="form-group">
											<label class="col-sm-3 control-label">Price</label>
											<div class="col-sm-8">
												<input type="number" class="form-control" ng-model="sale.price" step="0.01" required min="0">
											</div>
										</div>
										<div class="form-group">
											<label class="col-sm-3 control-label">Notes</label>
											<div class="col-sm-8">
												<textarea class="form-control" ng-model="sale.notes"></textarea>
											</div>
										</div>
									</div><!-- SALE FORM -->


									<!-- SCHEDULE FORM -->
									<div ng-if="selectedForm === 'schedule'">
										<div class="form-group">
											<label class="col-sm-3 control-label">DateTime</label>
											<div class="col-sm-8">
												<input-date name="call_date" date="schedule.call_date" with-time time-mode="12" minute-interval="15" required />
											</div>
										</div>
										<div class="form-group">
											<label class="col-sm-3 control-label">Notes</label>
											<div class="col-sm-8">
												<textarea class="form-control" ng-model="schedule.notes"></textarea>
											</div>
										</div>
									</div><!-- SCHEDULE FORM -->


									<!-- NOTE FORM -->
									<div ng-if="selectedForm === 'note'">
										<!-- <div class="form-group">
											<label class="col-sm-3 control-label">Subject</label>
											<div class="col-sm-8">
												<input type="text" class="form-control" ng-model="note.subject" required>
											</div>
										</div> -->
										<div class="form-group">
											<label class="col-sm-3 control-label">Body</label>
											<div class="col-sm-8">
												<textarea class="form-control" ng-model="note.body" required></textarea>
											</div>
										</div>
									</div>

									<div class="form-group">
										<div class="col-sm-offset-3 col-sm-8">
											<button type="submit" class="btn btn-primary">Save & Next</button>
										</div>
									</div>
								</form>
							</div>
							<div class="col-md-4">
									<div ng-if="currLead.broker">
											<label>Broker</label>
											<p>{{ currLead.broker }}</p>
										</div>
										<div ng-if="currLead.occupation">
											<label>Occupation</label>
											<p>{{ currLead.occupation }}</p>
										</div>
										<div ng-if="currLead.tradesize">
											<label>Tradesize</label>
											<p>{{ currLead.tradesize }}</p>
										</div>
										<div ng-if="currLead.portfolio">
											<label>Portfolio</label>
											<p>{{ currLead.portfolio }}</p>
										</div>
										<div ng-if="currLead.report">
											<label>Report</label>
											<p>{{ currLead.report }}</p>
										</div>
							</div>
						</div>
					</div><!-- LEAD INFO PANEL -->


					<!-- LEAD SOLD PANEL -->
					<div role="tabpanel" class="tab-pane" id="soldHistory">
						<table class="table">
						      <thead>
						          <tr>
						              <th>Date</th>
						              <th>Headline</th>
						              <th>Notes</th>
						          </tr>
						      </thead>
						      <tbody>
						          <tr ng-repeat="item in soldHistory">
						              <td>{{item.timelineable.created_at | momentFormat:'MM-DD-YYYY h:mm a' }}</td>
						              <td>{{item.timelineable.headline}}</td>
						              <td>{{item.timelineable.notes}}</td>
						          </tr>
						      </tbody>
						  </table>
					</div><!-- LEAD SOLD PANEL -->


					<!-- LEAD HISTORY PANEL -->
					<div role="tabpanel" class="tab-pane" id="leadHistory">
						<table class="table">
						      <thead>
						          <tr>
						              <th>Date</th>
						              <th>Headline</th>
						              <th>Notes</th>
						          </tr>
						      </thead>
						      <tbody>
						          <tr ng-repeat="item in leadHistory">
						              <td>{{item.timelineable.created_at | momentFormat:'MM-DD-YYYY h:mm a' }}</td>
						              <td>{{item.timelineable.headline}}</td>
						              <td>{{item.timelineable.notes}}</td>
						          </tr>
						      </tbody>
						  </table>
					</div><!-- LEAD HISTORY PANEL -->

				</div>
			</div>
		</div>
	</div>
</div>
