<div class="page-header">
  <h2 class="heading-3">Your Week Statistics</h2>
</div>

<div class="row">
	<div class="col-md-4">
		<div class="card insight-card color1">
			<h3 class="heading-4">Total Sales <span class="pull-right">{{totalSales}}</span></h3>
		</div>
	</div>
	<div class="col-md-4">
		<div class="card insight-card color3">
			<h3 class="heading-4">Total Value <span class="pull-right">{{totalValue | currency}}</span></h3>
		</div>
	</div>
	<div class="col-md-4">
		<div class="card insight-card color2">
			<h3 class="heading-4">Avg Sale Value <span class="pull-right">{{avgSaleValue | currency}}</span></h3>
		</div>
	</div>

	<div class="col-md-12">
		<div class="card">
			<h3 class="heading-4">Daily Sales</h3>
			<div id="daily-chart" style="height: 200px"></div>
		</div>
	</div>

	<div class="col-md-6">
		<div class="card">
			<h3 class="heading-4">Last Sales</h3>
			<ul class="events-list">
				<li class="events-list-item" ng-repeat="sale in lastSales">
					{{formattedDate(sale.created_at)}}:<br>
					You sold <b>{{sale.amount}}</b> stocks of <b>{{sale.stock}}</b>,
					at the price of <b>${{sale.price}}</b> each and <b>${{sale.total}}</b> total, to <a ui-sref="admin.leads.edit({leadId: sale.lead_id})">{{sale.lead}}</a>
				</li>
			</ul>
		</div>
	</div>

</div>
