<div ng-controller="NotificationEditController">
  <div class="page-header">
    <h2 class="heading-3">{{ notificationId ? 'Edit notification ' + notificationId : 'New Notification' }}</h2>
  </div>

  <form class="form-horizontal" ng-submit="saveCampaign()">
    <div class="form-group">
      <label for="inputSubject" class="col-sm-2 control-label">Subject</label>
      <div class="col-sm-6 col-md-4">
        <input type="text" class="form-control" id="inputSubject" name="subject" placeholder="Subject" ng-model="notification.subject" required>
      </div>
    </div>
    <div class="form-group">
      <label for="inputBody" class="col-sm-2 control-label">Body</label>
      <div class="col-sm-6 col-md-4">
        <textarea rows="8" class="form-control" id="inputBody" name="body" placeholder="Body" ng-model="notification.body" required></textarea>
      </div>
    </div>
    <div class="form-group">
      <div class="col-sm-offset-2 col-sm-10">
        <button type="submit" class="btn btn-primary">Save</button>
        <a ui-sref="admin.campaigns" class="btn btn-default">Cancel</a>
      </div>
    </div>
  </form>
</div>
