<div ng-controller="AdminNotificationsController">
  <div class="page-header">
    <a ui-sref="admin.notification-edit({notificationId:'new'})" class="btn btn-primary pull-right" ng-hide="user.role !== 'admin'">Add Notification</a>
    <h2 class="heading-3">Notifications</h2>
  </div>

  <!-- <div id="filters" class="hide pull-left">

		<div class="dropdown" style="display: inline-block;">
		  <button ng-class="!selectedRows.length ? 'disabled' : ''" class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
		    Actions
		    <span class="caret"></span>
		  </button>
		  <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
		    <li><button ng-click="modalMassDeleteShow()">Delete</button></li>
		  </ul>
		</div>
  </div> -->

  <table class="notifications-table"></table>

  <div class="modal fade" id="notificationModal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title">Notification</h4>
        </div>
        <div class="modal-body">
          <h4 class="heading-6"><b>{{currNotification.subject}}</b> <span class="small pull-right">{{currNotification.date}}</span></h4>
          <p class="notification-content">{{currNotification.body}}</p>
        </div>
      </div>
    </div>
  </div>
</div>
