
<div class="btn-group pull-right leads-submenu">
	<a ui-sref="admin.leads.edit({leadId:'new'})"  
		ui-sref-active="active" 
		class="btn btn-primary" 
		ng-hide="user.role !== 'admin'">Add Lead</a>
	<a ui-sref="admin.leads.import" 
		class="btn btn-primary" 
		ui-sref-active="active">Import</a>
	<a ui-sref="admin.leads.reassign" 
		class="btn btn-primary"
		ui-sref-active="active">Reassign</a>
	<a ng-click="exportLeads()" class="btn btn-default">Export</a>
</div>
