<div class="btn-group pull-right">
	<a ui-sref="admin.leads.edit.form({leadId:lead.id})" 
		class="btn btn-default"  
		ui-sref-active="active" 
		ng-if="lead.id !== null"> Edit</a>
	<a ui-sref="admin.leads.edit.sold({leadId:lead.id})" 
		class="btn btn-default" 
		ui-sref-active="active" 
		ng-if="lead.id !== null">Sold History</a>
	<a ui-sref="admin.leads.edit.history({leadId:lead.id})" 
		class="btn btn-default" 
		ui-sref-active="active" 
		ng-if="lead.id !== null">Lead History</a>
	<a ui-sref="admin.leads" class="btn btn-default">
		<i class="glyphicon glyphicon-circle-arrow-left"></i> 
		<span class="text">Back</span>
	</a>
</div>