<div ng-controller="AdminBuyersCtrl">
  <div class="page-header">
    <div class="pull-right">
      <div class="btn-group">
        <a ng-click="exportLeads()" class="btn btn-default">Export</a>
      </div>
    </div>
    <h2 class="heading-3">Buyers</h2>
  </div>

    <div class="index-content">
        <ui-view></ui-view>
    </div>
</div>
