<div ng-controller="AdminBuyersController">
  <div class="page-header">
    <div class="pull-right">
      <div class="btn-group">
        <a ng-click="exportLeads()" class="btn btn-default">Export</a>
      </div>
    </div>
    <h2 class="heading-3">Buyers</h2>
  </div>

  <div id="filters" class="hide pull-left">
		<!-- <div class="dropdown" style="display: inline-block;">
		  <button ng-class="!selectedRows.length ? 'disabled' : ''" class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
		    Actions
		    <span class="caret"></span>
		  </button>
		  <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
		    <li><button ng-click="modalMassDeleteShow()">Delete</button></li>
		  </ul>
		</div> -->

    <select class="form-control input-sm" ng-options="source for source in filterOptions.source" ng-model="filter['source.source']" ng-change="makeFilter()">
      <option value="" selected>Source</option>
    </select>
    <select class="form-control input-sm" ng-options="status for status in filterOptions.status" ng-model="filter['status.name']" ng-change="makeFilter()">
      <option value="" selected>Status</option>
    </select>
    <select class="form-control input-sm" ng-options="timezone for timezone in filterOptions.timezone" ng-model="filter.timezone" ng-change="makeFilter()">
      <option value="" selected>Timezone</option>
    </select>
    <select class="form-control input-sm" ng-options="campaign for campaign in filterOptions.campaign" ng-model="filter['campaign.name']" ng-change="makeFilter()">
      <option value="" selected>Campaign</option>
    </select>
    <select class="form-control input-sm" ng-options="agent for agent in filterOptions.agent" ng-model="filter['user.name']" ng-change="makeFilter()">
      <option value="" selected>Agent</option>
    </select>
    <button class="btn btn-default" ng-click="cleanFilters()" ng-hide="!filtersCleaneable"><i class="glyphicon glyphicon-remove"></i></button>
  </div>
  <table class="leads-table"></table>
</div>
