<div ng-controller="LeadImportController">


  <form class="form-horizontal" ng-submit="">
		<div ng-if="mprt.step === 1">
      <h3 class="heading-4" style="margin: 0 0 15px;">1. Choose File</h3>

      <div class="form-group">
        <label for="inputFile" class="col-sm-2 control-label">File</label>
        <div class="col-sm-6 col-md-4">
          <label class="btn btn-default">
            Choose File
            <input type="file" class="hide" name="chooseFile" onchange="angular.element(this).scope().mprt.onFileSelected(this)" multiple="false" accept=".csv, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel" />
          </label>
        </div>
      </div>
      <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
          <button type="submit" class="btn btn-primary">Next</button>
          <a ui-sref="admin.leads" class="btn btn-default">Cancel</a>
        </div>
      </div>
    </div>

		<div ng-if="mprt.step === 2">
      <h3 class="heading-4" style="margin: 0 0 15px;">2. Map fields</h3>

      <label style="margin: 0 0 15px;">
  		  <input type="checkbox" ng-model="mprt.firstRowAreKeys" ng-change="mprt.changeHeaders()"/> First rows are column headers
      </label>

      <table class="table table-bordered">
        <tr>
          <th ng-repeat="cell in mprt.sampleRows[0] track by $index" style="width:{{100 / mprt.sampleRows[0].length }}%;">
						<select class="form-control" ng-model="mprt.keymap[$index]" ng-change="mprt.calcAvailableModelFields($index)">
							<option value="">[ None ]</option>
							<option value="{{mprt.keymap[$index]}}" ng-if="mprt.keymap[$index]">{{mprt.keymap[$index]}}</option>
							<option ng-repeat="field in mprt.modelFields" ng-show="mprt.showModelField(field)">{{field}}</option>
						</select>
          </th>
        </tr>
        <tr ng-repeat="sampleRow in mprt.sampleRows">
          <td ng-repeat="cell in sampleRow track by $index">{{cell}}</td>
        </tr>
      </table>

			<button class="btn btn-primary" ng-click="mprt.parseFields()" ng-disabled="!mprt.importEnabled()">next</button>
      <a ui-sref="admin.leads" class="btn btn-default">Cancel</a>
    </div>

		<div ng-if="mprt.step === 3">
        <h3 class="heading-4" style="margin: 0 0 15px;">3. Campaigns, Users & Source</h3>

        <div class="form-group">
          <div class="col-sm-4">
      			<select class="form-control" ng-model="mprt.selectedCampaigns" multiple="true" size="10">
	      			<option value="">[None]</option>
      				<option value="{{campaign.id}}" ng-repeat="campaign in mprt.activeCampaigns track by campaign.id">{{campaign.name}}</option>
      			</select>
          </div>
          <div class="col-sm-4">
      			<select class="form-control" ng-model="mprt.selectedAgents" multiple="true" size="10">
	      			<option value="">[None]</option>
      				<option value="{{agent.id}}" ng-repeat="agent in mprt.activeAgents track by agent.id">{{agent.name}}</option>
      			</select>
          </div>
          <div class="col-sm-4">
      			<select class="form-control" ng-model="mprt.source" size="10">
	      			<option value="">[None]</option>
      				<option value="{{source.id}}" ng-repeat="source in mprt.activeSources track by source.id">{{source.source}}</option>
      			</select>
          </div>
        </div>
        <div class="col-sm-12">
	        You can select more than one campaign (or none) and more than one agent (or none).
	    </div>

  			<button class="btn btn-primary" ng-click="mprt.doAction()">Import</button>
        <a ui-sref="admin.leads" class="btn btn-default">Cancel</a>
    </div>

  </form>
</div>
