<div ng-controller="AdminLeadsCtrl">
    <div class="page-header">

        <div class="btn-group pull-right leads-submenu">
            <a ui-sref="admin.leads.list"
        		ui-sref-active="active"
        		class="btn btn-primary"
        	>List</a>
        	<a ui-sref="admin.leads.edit({leadId:'new'})"
        		ui-sref-active="active"
        		class="btn btn-primary"
        	>Add Lead</a>
        	<a ui-sref="admin.leads.import"
        		class="btn btn-primary"
        		ui-sref-active="active">Import</a>
        	<a ui-sref="admin.leads.reassign"
        		class="btn btn-primary"
        		ui-sref-active="active">Reassign</a>
        	<a ng-click="exportLeads()" class="btn btn-default">Export</a>
        </div>

		<h2 class="heading-3">{{ pageTitle ? pageTitle : 'Leads'}}</h2>
	</div>

  <div class="index-content">
  	<ui-view></ui-view>
  </div>

	<div id="modal-leads-edit" class="modal fade" tabindex="-1" role="dialog">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
					<h4 class="modal-title">Edit selected items</h4>
				</div>
				<div class="modal-body">
					<div class="row">
						<div class="col-sm-4">
							<select class="form-control" ng-options="status.id as status.label for status in auxs.editStatuses" ng-model="leadsEditModel.status_id">
					      <option value="" selected>Status</option>
					    </select>
						</div>
						<div class="col-sm-4">
							<select class="form-control" ng-options="campaign.id as campaign.name for campaign in auxs.campaigns" ng-model="leadsEditModel.campaign_id">
					      <option value="" selected>Campaign</option>
					    </select>
						</div>
						<div class="col-sm-4">
							<select class="form-control" ng-options="agent.id as agent.name for agent in auxs.agents" ng-model="leadsEditModel.user_id">
					      <option value="" selected>Agent</option>
					    </select>
						</div>
					</div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
					<button type="button" class="btn btn-success" ng-click="leadslist.confirmEdit()">Confirm</button>
				</div>
			</div>
		</div>
	</div>
</div>
