<div ng-controller="LeadEditController">
	<div class="page-header">

		<div class="btn-group pull-right">
			<a ui-sref="admin.leads.edit.form({leadId:lead.id})"
				class="btn btn-default"
				ui-sref-active="active"
				ng-if="lead.id !== null"> Edit</a>
			<a ui-sref="admin.leads.edit.sold({leadId:lead.id})"
				class="btn btn-default"
				ui-sref-active="active"
				ng-if="lead.id !== null">Sold History</a>
			<a ui-sref="admin.leads.edit.history({leadId:lead.id})"
				class="btn btn-default"
				ui-sref-active="active"
				ng-if="lead.id !== null">Lead History</a>
			<a ui-sref="admin.leads" class="btn btn-default">
				<i class="glyphicon glyphicon-circle-arrow-left"></i>
				<span class="text">Back</span>
			</a>
		</div>

		<h2 class="heading-3">
			<span ng-if="lead.id"><strong>{{lead.name}}</strong>  (#{{lead.id}}) </span>
			<span ng-if="!lead.id">New Lead</span>
		</h2>
	</div>

	<ui-view></ui-view>

</div>
