
						<div class="row">
                <div class="col-md-8">
  <form class="form-horizontal" ng-submit="saveLead()">
    <div class="form-group">
      <label for="inputName" class="col-sm-2 control-label">Name</label>
      <div class="col-sm-6 col-md-4">
        <input type="text" class="form-control" id="inputName" name="name" placeholder="Lead Name" ng-model="lead.name" required>
      </div>
    </div>
    <div class="form-group">
      <label for="inputPhone" class="col-sm-2 control-label">Phone</label>
      <div class="col-sm-6 col-md-4">
        <input type="text" class="form-control" id="inputPhone" name="phone" placeholder="" ng-model="lead.phone" required>
      </div>
    </div>
    <div class="form-group">
      <label for="inputEmail" class="col-sm-2 control-label">Email</label>
      <div class="col-sm-6 col-md-4">
        <input type="email" class="form-control" id="inputEmail" name="email" placeholder="" ng-model="lead.email">
      </div>
    </div>
    <!-- <div class="form-group">
      <label for="inputSource" class="col-sm-2 control-label">Source</label>
      <div class="col-sm-6 col-md-4">
        <input type="text" class="form-control" id="inputSource" name="source" placeholder="" ng-model="lead.source">
      </div>
    </div> -->
    <div class="form-group">
      <label for="inputAgent" class="col-sm-2 control-label">Source</label>
      <div class="col-sm-6 col-md-4">
        <select class="form-control" name="source_id" ng-model="lead.source_id" ng-options="item.id as item.source for item in sources">
          <option value="">[Please select]</option>
        </select>
      </div>
    </div>
    <div class="form-group">
      <label for="inputTimezone" class="col-sm-2 control-label">Timezone</label>
      <div class="col-sm-6 col-md-4">
        <input type="number" class="form-control" id="inputTimezone" name="timezone" min="-12" max="12" ng-model="lead.timezone">
      </div>
    </div>
    <div class="form-group">
      <label for="inputAgent" class="col-sm-2 control-label">Agent</label>
      <div class="col-sm-6 col-md-4">
        <select class="form-control" name="agent_id" ng-model="lead.user_id" ng-options="item.id as item.name for item in agents">
          <option value="">[Please select]</option>
        </select>
      </div>
    </div>
    <div class="form-group">
      <div class="col-sm-offset-2 col-sm-10">
        <button type="submit" class="btn btn-primary">Save</button>
<!--         <a ui-sref="admin.leads" class="btn btn-default">Cancel</a> -->
      </div>
    </div>
  </form>

</div>
<div class="col-md-4">
    <div ng-if="lead.broker">
        <label>Broker</label>
        <p>{{ lead.broker }}</p>
      </div>
      <div ng-if="lead.occupation">
        <label>Occupation</label>
        <p>{{ lead.occupation }}</p>
      </div>
      <div ng-if="lead.tradesize">
        <label>Tradesize</label>
        <p>{{ lead.tradesize }}</p>
      </div>
      <div ng-if="lead.portfolio">
        <label>Portfolio</label>
        <p>{{ lead.portfolio }}</p>
      </div>
      <div ng-if="lead.report">
        <label>Report</label>
        <p>{{ lead.report }}</p>
      </div>
</div>
</div>
