<div ng-controller="AdminLeadSoldController">
  <table class="table lead-sold">
      <thead>
          <tr>
              <th>Date</th>
              <th>Headline</th>
              <th>Notes</th>
          </tr>
      </thead>
      <tbody>
          <tr ng-repeat="item in leadHistory">
              <td>{{item.timelineable.created_at}}</td>
              <td>{{item.timelineable.headline}}</td>
              <td>{{item.timelineable.notes}}</td>
          </tr>
      </tbody>
  </table>

