<div ng-controller="AdminLeadHistoryController">

  <table class="table">
      <thead>
          <tr>
              <th>Date</th>
              <th>Headline</th>
              <th>Notes</th>
          </tr>
      </thead>
      <tbody>
          <tr ng-repeat="item in leadHistory">
              <td>{{item.timelineable.created_at}}</td>
              <td>{{item.timelineable.headline}}</td>
              <td>{{item.timelineable.notes}}</td>
          </tr>
          <tr>
              <td>{{lead.created_at}}</td>
              <td>Lead import</td>
              <td>{{lead.notes}}</td>
          </tr>
      </tbody>
  </table>

</div>
