<div ng-controller="AdminLeadsListCtrl">

	<div class="clearfix">
		<div class="pull-right">
			<list-pagination pagination="leadslist.pagination" on-page="leadslist.onPage(page)"></list-pagination>
		</div>

		<div id="filters" class="pull-left">
			<div class="dropdown" style="display: inline-block;">
				<button ng-class="!leadslist.selectSome ? 'disabled' : ''" class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
					Actions
					<span class="caret"></span>
				</button>
				<ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
					<li><button ng-click="leadslist.modalMassDeleteShow()">Delete</button></li>
		    	<li><button ng-click="leadslist.modalMassEditShow()">Edit</button></li>
				</ul>
			</div>



		    <select class="form-control input-sm"
				ng-options="status as status.label for status in auxs.statuses"
				ng-model="leadslist.filters.status"
			>
		      <option value="" selected>[ Status ]</option>
		    </select>

		    <select class="form-control input-sm"
				ng-options="timezone as timezone.label for timezone in auxs.timezones"
				ng-model="leadslist.filters.timezone"
			>
		    	<option value="" selected>[ Timezone ]</option>
		    </select>

			<select class="form-control input-sm"
				ng-options="item as item.name for item in auxs.agents"
				ng-model="leadslist.filters.agent"
			>
				<option value="" selected>[ Agent ]</option>
			</select>

			<select class="form-control input-sm"
				ng-options="item as item.source for item in auxs.sources"
				ng-model="leadslist.filters.source"
			>
				<option value="" selected>[ Source ]</option>
			</select>

			<select class="form-control input-sm"
				ng-options="item as item.name for item in auxs.campaigns"
				ng-model="leadslist.filters.campaign"
			>
				<option value="" selected>[ Campaign ]</option>
			</select>



			<input type="text" class="form-control input-sm" placeholder="name or phone" ng-model="leadslist.filters.text" />



			<button class="btn btn-primary" ng-click="leadslist.applyFilters()">Filter</button>
		    <button class="btn btn-default" ng-click="leadslist.resetFilters()">Reset</button>
			<div >
					<label ><input type="checkbox" ng-model="leadslist.auxFilters.activeOnly" ng-change="onChangeActiveOnly()"/> Show only active items</label>
			</div>

		</div>
	</div>

	<div class="leads-list-container clearfix">
		<table class="leads-list">
			<thead>
				<tr>
					<th>
						<input ng-model="leadslist.selectAll" type="checkbox" ng-change="leadslist.onSelectAll()" />
					</th>
					<th>
						<a class="sort-list {{leadslist.getSortClass('status')}}" ng-click="leadslist.doSort('status')"><span class="text">Status</span></a>
					</th>
					<th>
						<a class="sort-list {{leadslist.getSortClass('name')}}" ng-click="leadslist.doSort('name')"><span class="text">Name</span></a>
					</th>
					<th>
						<a class="sort-list {{leadslist.getSortClass('phone')}}" ng-click="leadslist.doSort('phone')"><span class="text">Phone</span></a>
					</th>
					<th>
						<a class="sort-list {{leadslist.getSortClass('timezone')}}" ng-click="leadslist.doSort('timezone')"><span class="text">Tz</span></a>
					</th>
					<th>
						<a class="sort-list {{leadslist.getSortClass('agent')}}" ng-click="leadslist.doSort('agent')"><span class="text">Agent</span></a>
					</th>
					<th>
						<a class="sort-list {{leadslist.getSortClass('source')}}" ng-click="leadslist.doSort('source')"><span class="text">Source</span></a>
					</th>
					<th>
						<a class="sort-list {{leadslist.getSortClass('campaign')}}" ng-click="leadslist.doSort('campaign')"><span class="text">Campaign</span></a>
					</th>
					<th>
						<a class="sort-list {{leadslist.getSortClass('modified')}}" ng-click="leadslist.doSort('modified')"><span class="text">Modified</span></a>
					</th>
					<th>
						<a><span class="text">Headline</span></a>
					</th>
					<th>
						<a><span class="text">Notes</span></a>
					</th>
					<th>
							<a class="sort-list {{leadslist.getSortClass('created_at')}}" ng-click="leadslist.doSort('created_at')"><span class="text">Created</span></a>
						<!-- <a><span class="text">Created</span></a> -->
					</th>
					<th>
						<span class="text">Actions</span>
					</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="item in leadslist.items track by item.id">
					<td>
						<input ng-model="item.selected" type="checkbox" ng-change="leadslist.onSelectItem()" />
					</td>
					<td>
						<a editable-select="item.status_id"
							e-ng-options="s.id as s.label for s in auxs.editStatuses"
							onbeforesave="leadslist.onUpdateField($data, 'status_id', item)"
						>{{item.status}}</a>
					</td>
					<td>
						<a ui-sref="admin.leads.edit({leadId:item.id})">{{item.name}}</a>
					</td>
					<td>
						<a
							editable-text="item.phone"
							onbeforesave="leadslist.onUpdateField($data, 'phone', item)"
						>{{ item.phone }}</a>
					</td>
					<td>
						<a
							editable-select="item.timezone"
							e-ng-options="s.id as s.label for s in auxs.timezones"
							onbeforesave="leadslist.onUpdateField($data, 'timezone', item)"
						>{{ item.timezone }}</a>

					</td>
					<td>
						<a editable-select="item.user_id"
							e-ng-options="s.id as s.name for s in auxs.agents"
							onbeforesave="leadslist.onUpdateField($data, 'user_id', item)"
						>{{item.agent ? item.agent : '[ No agent ]'}}</a>
					</td>
					<td>
						<span class="inplace">{{item.source}}</span>
					</td>
					<td>
						<a editable-select="item.campaign_id"
							e-ng-options="s.id as s.name for s in auxs.campaigns"
							onbeforesave="leadslist.onUpdateField($data, 'campaign_id', item)"
						>{{item.campaign ? item.campaign : '[ No campaign ]'}}</a>
					</td>
					<td>
						<span>{{ item.modified | momentFormat }}</span>
					</td>
					<td>
						<span>{{item.headline}}</span>
					</td>
					<td>
						<span>{{ item.notes}}</span>
					</td>
					<td>
						<span>{{ item.created_at | momentFormat }}</span>
					</td>
					<td style="">
						<a ui-sref="admin.leads.edit({leadId:item.id})" class="btn-primary btn-xs glyphicon glyphicon-pencil"></a>
						<button ng-click="leadslist.delete(item)" class="btn-danger btn-xs glyphicon glyphicon-remove"></button>
					</td>

				</tr>
			</tbody>
			<tfoot>

			</tfoot>
		</table>
	</div>

	<!-- <lead-list mode="leads"></lead-list> -->
  <!-- <table class="leads-table" id="leads-table"></table> -->

	<!-- <div id="modal-leads-edit" class="modal fade" tabindex="-1" role="dialog">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
					<h4 class="modal-title">Edit selected items</h4>
				</div>
				<div class="modal-body">
					<div class="row">
						<div class="col-sm-4">
							<select class="form-control" ng-options="status.id as status.name for status in editOptions.status" ng-model="leadsEditModel.status_id">
					      <option value="" selected>Status</option>
					    </select>
						</div>
						<div class="col-sm-4">
							<select class="form-control" ng-options="campaign.id as campaign.name for campaign in editOptions.campaign" ng-model="leadsEditModel.campaign_id">
					      <option value="" selected>Campaign</option>
					    </select>
						</div>
						<div class="col-sm-4">
							<select class="form-control" ng-options="agent.id as agent.name for agent in editOptions.agent" ng-model="leadsEditModel.user_id">
					      <option value="" selected>Agent</option>
					    </select>
						</div>
					</div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
					<button type="button" class="btn btn-success" ng-click="confirmEdit()">Confirm</button>
				</div>
			</div>
		</div>
	</div> -->

	<div class="pull-right">
		<list-pagination pagination="leadslist.pagination" on-page="leadslist.onPage(page)"></list-pagination>
	</div>
	<div class="clearfix"></div>
</div>
