<div ng-controller="LeadReassignController">


  <form class="form-horizontal" ng-submit="">

    <div class="form-group reassign-form">
      <div class="col-sm-4">
  			<select class="form-control" ng-model="reassign.selectedCampaigns" multiple="true" size="10">
  				<option value="{{campaign.id}}" ng-repeat="campaign in reassign.activeCampaigns track by campaign.id">{{campaign.name}}</option>
  			</select>
      </div>
      <div class="col-sm-4">
  			<select class="form-control" ng-model="reassign.selectedAgents" multiple="true" size="10">
  				<option value="{{agent.id}}" ng-repeat="agent in reassign.activeAgents track by agent.id">{{agent.name}}</option>
  			</select>
      </div>
    </div>

		<button class="btn btn-primary" ng-click="reassign.doAction()" ng-disabled="!reassign.actionEnabled()">Reassign</button>
    <a ui-sref="admin.leads" class="btn btn-default">Cancel</a>

  </form>
</div>
