<div ng-controller="AdminSalesEditCtrl">
    <form class="form-horizontal" ng-submit="saveSale()">

        <div class="form-group">
            <label for="inputName" class="col-sm-2 control-label">Agent</label>
            <div class="col-sm-6 col-md-4">
                <input class="form-control" type="text" ng-model="item.user.name" readonly>
            </div>
        </div>

        <div class="form-group">
            <label for="inputName" class="col-sm-2 control-label">Lead</label>
            <div class="col-sm-6 col-md-4">
                <input class="form-control" type="text" ng-model="item.lead.name" readonly>
            </div>
        </div>

        <div class="form-group">
            <label for="inputName" class="col-sm-2 control-label">Campaign</label>
            <div class="col-sm-6 col-md-4">
                <input class="form-control" type="text" ng-model="item.campaign.name" readonly>
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-2 control-label">Amount</label>
            <div class="col-sm-6 col-md-4">
                <input type="number" class="form-control" ng-model="item.amount" required min="0">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">Price</label>
            <div class="col-sm-6">
                <input type="number" class="form-control" ng-model="item.price" step="0.01" required min="0">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">Notes</label>
            <div class="col-sm-6 col-md-4">
                <textarea class="form-control" ng-model="item.notes"></textarea>
            </div>
        </div>


      <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <button type="submit" class="btn btn-primary">Save</button>
            <a ui-sref="admin.sales" class="btn btn-default" href="/admin/leads">
    			<i class="glyphicon glyphicon-circle-arrow-left"></i>
    			<span class="text">Cancel</span>
    		</a>


        </div>
      </div>
    </form>
</div>
