<div ng-controller="AdminSalesCtrl">
    <div class="page-header">

		<h2 class="heading-3">{{ pageTitle ? pageTitle : 'Sales'}}</h2>
	</div>

  <div class="index-content">
  	<ui-view></ui-view>
  </div>
