<div>

	<div class="clearfix">
		<div class="pull-right">
			<list-pagination pagination="salesList.pagination" on-page="salesList.onPage(page)"></list-pagination>
		</div>

		<div id="filters" class="pull-left">
			<!-- <div class="dropdown" style="display: inline-block;">
				<button ng-class="!salesList.selectSome ? 'disabled' : ''" class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
					Actions
					<span class="caret"></span>
				</button>
				<ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
					<li><button ng-click="salesList.modalMassDeleteShow()">Delete</button></li>
		    	<li><button ng-click="salesList.modalMassEditShow()">Edit</button></li>
				</ul>
			</div> -->


			<input type="text" class="form-control input-sm" placeholder="lead name" ng-model="salesList.filters.lead.value" />

			<select class="form-control input-sm"
				ng-options="item as item.name for item in auxs.agents"
				ng-model="salesList.filters.agent.value"
			>
				<option value="" selected>[ Agent ]</option>
			</select>

			<select class="form-control input-sm"
				ng-options="item as item.name for item in auxs.campaigns"
				ng-model="salesList.filters.campaign.value"
			>
				<option value="" selected>[ Campaign ]</option>
			</select>





			<button class="btn btn-primary" ng-click="salesList.applyFilters()">Filter</button>
		    <button class="btn btn-default" ng-click="salesList.resetFilters()">Reset</button>

		</div>
	</div>

	<div class="leads-list-container clearfix">
		<table class="leads-list">
			<thead>
				<tr>
					<!-- <th>
						<input ng-model="salesList.selectAll" type="checkbox" ng-change="salesList.onSelectAll()" />
					</th> -->
					<th>
						<a class="sort-list {{salesList.getSortClass('lead')}}" ng-click="salesList.doSort('lead')"><span class="text">Lead</span></a>
					</th>
					<th>
						<a class="sort-list {{salesList.getSortClass('agent')}}" ng-click="salesList.doSort('agent')"><span class="text">Agent</span></a>
					</th>
					<th>
						<a class="sort-list {{salesList.getSortClass('campaign')}}" ng-click="salesList.doSort('campaign')"><span class="text">Campaing</span></a>
					</th>
					<th>
						<a class="sort-list {{salesList.getSortClass('amount')}}" ng-click="salesList.doSort('amount')"><span class="text">Amount</span></a>
					</th>
					<th>
						<a class="sort-list {{salesList.getSortClass('price')}}" ng-click="salesList.doSort('price')"><span class="text">Price</span></a>
					</th>
					<th>
						<a class="sort-list {{salesList.getSortClass('total')}}" ng-click="salesList.doSort('total')"><span class="text">Total</span></a>
					</th>
					<th>
						<a class="sort-list {{salesList.getSortClass('notes')}}" ng-click="salesList.doSort('notes')"><span class="text">Notes</span></a>
					</th>
					<th>
						<a class="sort-list {{salesList.getSortClass('created_at')}}" ng-click="salesList.doSort('created_at')"><span class="text">Modified</span></a>
					</th>
					<th>
						<span class="text">Actions</span>
					</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="item in salesList.items track by item.id">
					<!-- <td>
						<input ng-model="item.selected" type="checkbox" ng-change="salesList.onSelectItem()" />
					</td> -->
					<td>
						<a ui-sref="admin.sales.edit({id:item.id})">{{item.lead}}</a>
					</td>

					<td>
						{{ item.agent }}
					</td>
					<td>
						{{ item.campaign }}
					</td>
					<td>
						{{item.amount}}
					</td>
					<td>
						{{item.price}}
					</td>
					<td>
						{{item.total}}
					</td>
					<td>
						<span>{{item.notes}}</span>
					</td>
					<td>
						<span>{{ item.created_at | momentFormat }}</span>
					</td>

					<td style="">
						<a ui-sref="admin.sales.edit({id:item.id})" class="btn-primary btn-xs glyphicon glyphicon-pencil"></a>
						<button ng-click="salesList.delete(item.id, 'this sale')" class="btn-danger btn-xs glyphicon glyphicon-remove"></button>
					</td>
				</tr>
			</tbody>
			<tfoot>

			</tfoot>
		</table>
	</div>


	<!-- <lead-list mode="leads"></lead-list> -->
  <!-- <table class="leads-table" id="leads-table"></table> -->

	<!-- <div id="modal-leads-edit" class="modal fade" tabindex="-1" role="dialog">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
					<h4 class="modal-title">Edit selected items</h4>
				</div>
				<div class="modal-body">
					<div class="row">
						<div class="col-sm-4">
							<select class="form-control" ng-options="status.id as status.name for status in editOptions.status" ng-model="leadsEditModel.status_id">
					      <option value="" selected>Status</option>
					    </select>
						</div>
						<div class="col-sm-4">
							<select class="form-control" ng-options="campaign.id as campaign.name for campaign in editOptions.campaign" ng-model="leadsEditModel.campaign_id">
					      <option value="" selected>Campaign</option>
					    </select>
						</div>
						<div class="col-sm-4">
							<select class="form-control" ng-options="agent.id as agent.name for agent in editOptions.agent" ng-model="leadsEditModel.user_id">
					      <option value="" selected>Agent</option>
					    </select>
						</div>
					</div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
					<button type="button" class="btn btn-success" ng-click="confirmEdit()">Confirm</button>
				</div>
			</div>
		</div>
	</div> -->

	<div class="pull-right">
		<list-pagination pagination="salesList.pagination" on-page="salesList.onPage(page)"></list-pagination>
	</div>
	<div class="clearfix"></div>
</div>
