<div ng-controller="SourceEditController">
  <div class="page-header">
  	<a ui-sref="admin.sources" class="btn btn-default pull-right">
	  	<i class="glyphicon glyphicon-circle-arrow-left"></i>
	  	<span class="text">Back</span>
	</a>
    <h2 class="heading-3">{{ sourceId ? 'Edit Source ' + sourceId : 'New Source' }}</h2>
  </div>

  <form class="form-horizontal" ng-submit="saveSource()">
    <div class="form-group">
      <label for="inputName" class="col-sm-2 control-label">Source</label>
      <div class="col-sm-6 col-md-4">
        <input type="text" class="form-control" id="inputSource" name="source" placeholder="Source" ng-model="source.source" required>
      </div>
    </div>
    <div class="form-group">
      <div class="col-sm-offset-2 col-sm-10">
        <button type="submit" class="btn btn-primary">Save</button>
      </div>
    </div>
  </form>
</div>
